.container-app{
    max-width: 95%;
    margin: 5px auto;
    padding: 2px 10px;

    .card-app{
        background: #ffffff;
        border: 1px solid rgb(231, 231, 231);
        padding: 10px;
        border-radius: 20px;

        .card-button-app{
            display: flex;
            justify-content: space-between;

                .card-title-app{
                    margin: 0 0 20px 0;
                    color: #656666;
                }
                .card-title-app::after{
                    content: '';
                    display: block;
                    background: rgb(3, 204, 135);
                    width: 35px;
                    height: 2px;
                    border-radius: 30px;
                    margin-top: 3px;
                }
                .btn-update-app{
                    color: #ff5400;
                }
            }
        }
        .card-app-prog{
            span{
                text-align: center;
                font-size: 10px;
                color: #6c757d;
                font-weight: 100;
            }
            p{
                margin: 10px 0 20px 0;
                white-space: pre-line;
            }
        }
        .footer-card{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #eeecec;
            text-align: center;
            padding-bottom: 5px;
            border-radius: 30px;
            padding: 5px;
            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.336);
            -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.336);
            -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.336);

            .btn-update-app button{
                margin: 0 7px;
                padding: 2px;
                border: none;
                background: none;
                font-size: 12px;
                color: #078dfb;
            }
        }

    .update-delete{
        background: #a5a5a5;
        border: 1px solid rgb(231, 231, 231);
        padding: 10px;
        border-radius: 20px;
        margin: 5px 0;

        textarea{
            display: block;
            width: 90%;
            padding: 10px;
            margin: 10px auto;
            border: none;
            border-radius: 20px;
            border: 1px solid #e5e5e5;
        }
        input{
            display: block;
            width: 90%;
            padding: 7px;
            margin: 5px 2px;
            border: 1px solid #e5e5e5;
            border-radius: 20px;
        }
        .input-update-delete{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 0 auto;
        }
        button{
            display: block;
            width: 30%;
            padding: 5px;
            margin: 0 auto;
            background: #ffffff;
            color: #3c495c;
            border: none;
            border-radius: 20px;
            font-size: 12px;
        
            span{
                margin: 0 0 0 10px;
                color: rgba(235, 70, 139);
            }
        }
    }
}