$color1: #000000;
$color2: #14213d;
$color3: #fca311;
$color4: #e5e5e5;
$color5: #ffffff;

.create{

    margin: 5px;
    
    .form-input-app{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        input{
            display: block;
            width: 90%;
            padding: 7px;
            margin: 5px 2px;
            border: 1px solid #e5e5e5;
            border-radius: 20px;
        }
        .number-input{
            font-size: 9px;
        }
    }

    textarea{
        display: block;
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        border: none;
        border-radius: 20px;
        border: 1px solid #e5e5e5;
    }
}

.btn-create-app{
    display: block;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    background: #ffffff;
    color: #3c495c;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    span{
        margin: 0 0 0 10px;
        color: rgba(235, 70, 139);
    }
}