.create{
    display: flex;
    justify-content: center;
    align-items: center;

    .create-app{

        width: 95%;


        h1{
            text-align: center;
            color: #3c495c;
            margin: 20px;
        }

        .form-input-app{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 0 auto;
    
            input{
                display: block;
                width: 90%;
                padding: 7px;
                margin: 5px 2px;
                border: 1px solid #e5e5e5;
                border-radius: 20px;
            }
            .number-input{
                font-size: 9px;
            }
        }
    }

    textarea{
        display: block;
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 20px;
        border: 1px solid #e5e5e5;
    }
}

.btn-create-app{
    cursor: pointer;
    display: block;
    width: 30%;
    padding: 5px;
    margin: 0 auto 50px auto;
    background: #ffffff;
    color: #3c495c;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    font-size: 12px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    span{
        margin: 0 0 0 10px;
        color: rgba(235, 70, 139);
    }
}

.back-to-home{
    bottom: 2px;
    text-align: center;
    color: #3c495c;
    padding: 20px;
    font-weight: bold;
}