.create{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,116,190,1) 0%, rgba(118,61,251,1) 100%);
    height: 100vh;

    .create-app{

        width: 90%;
        margin-top: 70px;

        h1{
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 20px;
        }

        .form-input-app{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 0 auto;
    
            input{
                display: block;
                width: 90%;
                padding: 7px;
                margin: 5px 2px;
                border: 1px solid #e5e5e5;
                border-radius: 20px;
            }
            .number-input{
                font-size: 9px;
            }
        }
    }

    textarea{
        display: block;
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        border: none;
        border-radius: 20px;
        border: 1px solid #e5e5e5;
    }
}

.btn-create-app{
    cursor: pointer;
    display: block;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    background: #ffffff;
    color: #3c495c;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    span{
        margin: 0 0 0 10px;
        color: rgba(235, 70, 139);
    }
}
.custom-shape-divider-top-1619625794 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619625794 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619625794 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1619625794 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1619625794 svg {
        width: calc(100% + 1.3px);
        height: 19px;
    }
}
.back-to-home{
    position: relative;
    bottom: 2px;
    background: linear-gradient(90deg, rgba(2,116,190,1) 0%, rgba(118,61,251,1) 100%);
    text-align: center;
    color: #FFFFFF;
    padding-top: 0px;
}