.login-page{
    
    h1{
        text-align: center;
        margin: 20px 0;
        color: #3d3d3d;
        font-weight: bold;
        
    }

    .text-login{
        padding: 50px 20px;
        text-align: center;
    }
}
